.dashboard-berkassector {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  min-height: 0;
}


.table-wrapper {
  overflow-x: auto;
  flex: 1;
}

/* === Table Styling === */
.data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.data-table th,
.data-table td {
  padding: 10px 14px;
  text-align: left;
  border: 1px solid #f2d178;
}

.data-table th {
  background-color: #fcd062;
  font-weight: bold;
}

.data-table td {
  background-color: #fff6d6;
}

/* === Status Badge === */
.status-badge {
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
}

.filter-select {
  padding: 6px 10px;
  background-color: #fcd062;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.add-button {
  padding: 6px 10px;
  background-color: #fcd062;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.add-button:hover {
  background-color: #f6d779;
}