.role-container {
  display: flex;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.role-left {
  background-color: #f4a900;
  flex: 1;
  color: black;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.role-logo {
  width: 150px;
  margin: 0 auto 20px;
}

.role-left h2 {
  font-weight: bold;
  margin: 10px 0;
}

.role-left p {
  margin-top: 10px;
}

.role-right {
  flex: 1;
  background-color: #f3e5c0;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.role-right h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.role-select {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}


.role-button {
  background-color: #e0a500;
  color: black;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.role-button:hover {
  background-color: #d09100;
}

.forgot-password {
  margin-top: 15px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

.debug-role {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
